<!doctype html>
<html lang="en">
    <head>
        <%- include('partial-head', {
            title: 'Giro3D - Welcome',
            name: 'Giro3D - Welcome',
            description: 'A versatile framework to visualize geospatial data in the browser.'
        }) %>
        <link href="/assets/index.css" rel="stylesheet" />

        <!-- OpenGraph -->
        <meta
            property="og:description"
            content="A versatile framework to visualize geospatial data in the browser."
        />
        <meta property="og:image" content="https://giro3d.org/images/giro3d_logo_big.jpg" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:title" content="Giro3D" />
        <meta property="og:site_name" content="Giro3D" />
        <meta property="og:type" content="object" />
        <meta property="og:url" content="https://giro3d.org" />

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:description"
            content="A versatile framework to visualize geospatial data in the browser."
        />
        <meta name="twitter:dnt" content="on" />
        <meta name="twitter:image" content="https://giro3d.org/images/giro3d_logo_big.jpg" />
        <meta name="twitter:title" content="Giro3D - Welcome" />
        <meta name="twitter:widgets:align" content="center" />
    </head>

    <body class="bg-light d-flex flex-column min-vh-100">
        <%- include('navbar', { activeId: 'index' }) %>

        <main class="flex-fill row g-0">
            <section class="col-lg-6 bg-primary-subtle">
                <div class="card row shadow m-5">
                    <img src="images/giro3d_code.png" class="card-img-top card-img-bg" />

                    <div class="card-body col-xl-8 mx-auto text-center p-5">
                        <h1 class="mb-5 logo-container">
                            <img src="/images/giro3d_logo.svg" alt="Giro3D" class="img-fluid" />
                            <img
                                src="/images/development-framework.svg"
                                alt="Giro3D is a develpment framework"
                                class="fancy-title giro3d"
                            />
                        </h1>

                        <div class="about">
                            <h2 class="lead text-primary-emphasis my-4">
                                A versatile <strong>framework</strong> to visualize geospatial data
                                in the browser.
                            </h2>
                            <p class="text-muted">
                                Giro3D is an open-source JavaScript framework for visualizing and
                                interacting with heterogenous 2D, 2.5D and 3D data.
                            </p>
                        </div>
                        <p class="links">
                            <a href="giro3d.html" class="btn btn-primary my-2">Learn more</a>
                            <a href="tutorials/getting-started.html" class="btn btn-secondary my-2"
                                >Get started</a
                            >
                            <a href="examples/index.html" class="btn btn-secondary my-2"
                                >Examples</a
                            >
                            <a href="apidoc/index.html" class="btn btn-secondary my-2"
                                >Documentation</a
                            >
                        </p>
                    </div>
                    <img src="images/giro3d_code.png" class="card-img-bottom card-img-bg" />
                </div>
            </section>

            <section class="col-lg-6 bg-success-subtle">
                <div class="card row shadow m-5">
                    <img src="images/piero_window.png" class="card-img-top card-img-bg" />

                    <div class="card-body col-xl-8 mx-auto text-center py-5 px-2">
                        <h1 class="mb-5 logo-container" style="position: relative; direction: rtl">
                            <img src="/images/piero_logo.svg" alt="Piero" class="img-fluid" />
                            <img
                                src="/images/full-gis-bim-application.svg"
                                alt="Piero is a full GIS/BIM application"
                                class="fancy-title piero"
                            />
                        </h1>

                        <div class="about">
                            <h2 class="lead text-success-emphasis my-4">
                                Fully-configurable open-source web <strong>application</strong> for
                                3D visualization.
                            </h2>
                            <p class="text-muted">
                                Piero is an open-source web application for visualizing and
                                interacting with 2D, 2.5D and 3D data, powered by Giro3D.
                            </p>
                        </div>
                        <p class="links">
                            <a href="piero.html" class="btn btn-success my-2">Learn more</a>
                            <a href="https://app.giro3d.org" class="btn btn-secondary my-2"
                                >Try the app <i class="bi bi-box-arrow-up-right"></i
                            ></a>
                            <a href="https://gitlab.com/giro3d/piero" class="btn btn-secondary my-2"
                                >Check on GitLab <i class="bi bi-box-arrow-up-right"></i
                            ></a>
                        </p>
                        <iframe
                            style="scroll-behavior: unset"
                            title="Piero - Fully-configurable open-source web application for 3D visualization."
                            src="https://video.osgeo.org/videos/embed/9e4f3bfa-76ed-4f20-a848-0f0a3a2a6a56"
                            frameborder="0"
                            sandbox="allow-same-origin allow-scripts allow-popups"
                            allowfullscreen="allowfullscreen"
                        ></iframe>
                    </div>
                    <img src="images/piero_window.png" class="card-img-bottom card-img-bg" />
                </div>
            </section>
        </main>

        <footer class="container-fluid bg-light d-flex py-3 px-5 border-top">
            <div>© 2023-2024 Giro3D</div>
        </footer>
    </body>
</html>
