<form class="form-inline" id="tsd-search" role="search" data-base="<%= dataBase %>">
    <input
        name="q"
        type="text"
        id="tsd-search-field"
        aria-label="Search"
        class="form-control search-query"
        placeholder="Search"
        autocomplete="off"
        autofocus
    />
    <div class="results"></div>
</form>
