<li class="nav-item">
    <a
        class="nav-link <%= locals.class ?? 'nav-link-primary' %> <%= id === activeId ? 'active' :'' %>"
        href="<%= href %>"
    >
        <%= title %>
    </a>
</li>
