<form class="form-inline" role="search">
    <input
        name="q"
        type="text"
        id="keywords"
        class="form-control search-query"
        placeholder="Search"
        aria-label="Examples"
        aria-describedby="count"
        autocomplete="off"
        autofocus=""
    />
</form>
