<title><%= title %></title>
<meta charset="UTF-8" />
<meta name="name" content="<%= name %>" />
<meta name="description" content="<%= description %>" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="icon" href="/images/favicon.svg" />
<link href="/assets/bootstrap-custom.css" rel="stylesheet" />
<script src="/assets/bootstrap.bundle.min.js"></script>
